<h1>Add Pokemon</h1>

<form #pokemonForm="ngForm" (ngSubmit)="createPokemonData(pokename.value, pokebirth.value); pokemonForm.resetForm()">
  <label for="name">Name: </label>
  <input type="text" id="poke" name="pokename" ngModel #pokename="ngModel" placeholder="Enter Name" required>
  <br>
  <label for="birthDate">Birthdate: </label>
  <input type="date" id="birth" name="pokebirth" ngModel #pokebirth="ngModel" placeholder="BirthDate" required>
  <br>
  <label for="owner">Select Owner:</label>
  <select id="owner" [(ngModel)]="selectedOwner" name="ownerId" (ngModelChange)="onOwnerSelected()">
    <option *ngFor="let owner of owners" [value]="owner.id">{{ owner.firstName +" " + owner.lastName}}</option>
  </select>
  <br>
  <label for="category">Select Category:</label>
  <select id="category" [(ngModel)]="selectedCategory" name="catId" (ngModelChange)="onCategorySelected()" >
    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
  </select>
  <br> <br>
  <button>Add</button>
</form>