<button>Add Pokemon</button>

<div class="card-container">
  <div *ngFor="let pokemon of pokemons">
    <div class="card">
      <div class="card-content">
        <p class="card-text">Id: {{ pokemon.id }}</p>
          <p class="card-text">Name: {{ pokemon.name }}</p>
          <p class="card-text">Date of Birth: {{ pokemon.birthDate.split("T")[0] }}</p>   
          <p class="card-text">Rating: {{pokemon.rating}}</p>    
          <p class="card-text">Category: {{pokemon.category}}</p>
          <button (click)="deletePokemon(pokemon.id)">Delete</button>
        </div>
      </div>
  </div>
</div>
<!-- <app-add-pokemon></app-add-pokemon> -->


